<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Help Page</title>
</head>


<body>
    {{> header}} 
    <p>Some About text here</p>
</body>

{{!-- A call to the partial footer --}}
{{> footer}}

</html>