<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project Page</title>
</head>


<body>
    {{> header}}
    <p>List of Project</p>
    <ul>
        <li>Node.JS-web-server</li>
    </ul>
</body>

{{!-- A call to the partial footer --}}
{{> footer}}

</html>